body{
  background: #353B41
}

h1 {
  text-align: center;
}

.form-group{
  background-color: #C6C2AB
}

p {
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
}

.results {
  display: none;
  text-align: center;
  color: white;
  font-size: 18px;
}

input {
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin: 0 auto;
}
